/BigAndLittleEndianConversion/.vs
/BigAndLittleEndianConversion/Debug
/BigAndLittleEndianConversion/Release
/BigAndLittleEndianConversion/BigAndLittleEndianConversion/Debug
/BigAndLittleEndianConversion/BigAndLittleEndianConversion/Release
